
<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="container">
    <br><h1><strong>Contact Us</strong></h1><br>
    
    <div class="container">
      <div class="row">
        <div class="col-md">
          <!-- Christina's Card Start -->
          <!-- Card -->
          <div class="card card-image"
            style="background-image: url(img/cat.JPG);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-5">
              <div>
                <h3 class="card-title pt-2"><strong>Christina Celestino</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                  <a href="http://localhost:3000/" class="btn btn-brown"><i class="fas fa-clone left"></i> View Home Page</a>
              </div>
            </div>
          </div>
          <!-- Card -->
          <!-- Christina's Card End -->
        </div>

        <div class="col-md">
          <!-- Ron's Card Start -->
          <!-- Card -->
          <div class="card card-image"
            style="background-image: url(img/cat.JPG);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-5">
              <div>
                <h3 class="card-title pt-2"><strong>Ron Phan</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a href="http://localhost:3000/" class="btn btn-brown"><i class="fas fa-clone left"></i> View Home Page</a>
              </div>
            </div>
          </div>
          <!-- Card -->
          <!-- Ron's Card End -->
        </div>

        <div class="col-md">
          <!-- Vanessa's Card Start -->
          <!-- Card -->
          <div class="card card-image"
            style="background-image: url(img/cat.JPG);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-5">
              <div>
                <h3 class="card-title pt-2"><strong>Vanessa</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-brown"><i class="fas fa-clone left"></i> View Home Page</a>
              </div>
            </div>
          </div>
          <!-- Card -->
          <!-- Vanessa's Card End -->
        </div>
      </div>
    </div>
</div>

<%- include('layouts/footer.ejs') %>

