
<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

    <!-- Start your project here-->
    
    <p>Home page</p>

    <!-- End your project here-->

<%- include('layouts/footer.ejs') %>